@charset "UTF-8";

@media screen and (min-width: 980px){

/*background: linear-gradient(to right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);*/

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}

body,html{
  width: 100vw;
  height: 100vh;
  min-height: 540px;
}

header{
  text-align: center;
  background-image: linear-gradient(to left, #EBEBEB 65%, #3D3E43 50%);
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  
}

header  #img{
  width: 250px;
  border-radius: 50%;
  transform: translate(-240px , -515px )
}

header h1{
  width: 411.5px;
  margin: auto;
  transform: translate(200px , -80px);
  color: #3D3E43;
}


.h1{
  width: 440px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(25), typing2 4s steps(25) alternate-reverse infinite, blinking .9s infinite;
  border-right: 2px black solid;
}

.h1::before{
  width: calc(100%-10px);
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 0ch;
  }
}

@keyframes typing2{
  from{
    width: 23ch;
  }
  to{
    width: 0px;
  }
}

@keyframes blinking{
  50%{
    border-color: transparent
  }
  
}

#titulo {
  width: 500px;
  height: 200px;
  text-align: center;
  
}

#titulo h1{
  width: 450px;
  text-align: center;
}

#cinza{
  width: 350px;
  height: 350px;
  background-color: #3D3E43;
  border-radius: 50%;
  margin: auto;
  transform: translate(-240px , 140px);
}
/*#EBEBEB*/
#white{
  width: 280px;
  height: 280px;
  background-color: #EBEBEB;
  border-radius: 50%;
  margin: auto;
  transform: translate(-240px , -250.5px);
}

nav{
  color: red;
  display: flex;
  justify-content: end;
  
}
nav a{
  background-color: red;
}


section{
  color: white;
  font-size: 30px;
  margin-top: 90px;
  padding-left: 45px;
}

.bola{
 background-color: deeppink;
 border-radius: 50%;
 width: 50px;
 height: 50px;
}

.linha{
  background: deeppink;
  height: 70px;
  width: 3px;
  margin-left: 23px;
}

#habilidades{
  display: flex;
  flex-direction: colmn;
  width: 400px;
}

#estudando{
  display: grid;
  width: 400px;
  transform: translate(500px,-462px)
}

button a{
  text-decoration: none;
  
}

.instagram-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #fff;
  width: 13px;
  height: 13px;
  transform: translate(390px, 180px);
  
}

.mud img{
  border: 5px solid black;
  padding: 6px;
  border-radius: 40%;
}

.github-button{
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: red;
  width: 13px;
  height: 13px;
  transform: translate(465px, 113px)
}

.but img{
  width: 53px;
  border: 5px solid black;
  padding: 6px;
  border-radius: 40%;
}


}
